*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    background-color: #fff;
    height: 72px;
    padding: 24px 0;
    margin:  0 89px;
}

.navbar li{
    font-size: 14px;
}

.navbar i {
    font-size: 12px;
    cursor: pointer;
}

.dropdown-toggle::after {
    display: none !important;
}

.navbar i{
    cursor: pointer;
}

.searcher{
    outline: none;
    border-radius: 15px;
    text-align: center;
    max-width: 0px;
    display: none;
    transition: 0.3s;
}


.active{
    display:inline-block;
    max-width: 200px;
}

